<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Car_Name</th>
            <th>Car_Model</th>
            <th>Car_Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <th th:text="${car.getName()}"/>
            <th th:text="${car.getModel()}"/>
            <th th:text="${car.getCost()}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>