<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>All Users Table</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LasName</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th >
                <a th:href="@{/users/user?id={id}(id=${user.getId})}" th:text="${user.getId()}"/>
            </th>
            <th th:text="${user.getName()}"></th>
            <th th:text="${user.getLastName()}"/>
            <th th:text="${user.getAge()}"/>
            <th th:text="${user.getEmail()}"/>
        </tr>
        </tbody>
    </table>
</div>
<div th:each="user : ${users}">
    <a th:href="@{/users/user?id={id}(id=${user.getId})}" th:text="${user.getId()}"/>
</div>

</body>
</html>